Django==1.5.5
distribute==0.6.10
dj-database-url==0.2.2
dj-static==0.0.5
djangotoolbox==1.6.2
ethtool==0.6
gunicorn==18.0
iniparse==0.3.1
iwlib==1.0
pycurl==7.19.0
pygpgme==0.1
static==0.4
urlgrabber==3.9.1
wsgiref==0.1.2
yum-metadata-parser==1.1.2
