git+https://github.com/django-nonrel/django@nonrel-1.5
git+https://github.com/django-nonrel/djangotoolbox
ethtool==0.6
gunicorn==18.0
dj-static==0.0.5
distribute==0.6.10
iniparse==0.3.1
iwlib==1.0
pycurl==7.19.0
pygpgme==0.1
static==0.4
urlgrabber==3.9.1
wsgiref==0.1.2
yum-metadata-parser==1.1.2
git+https://github.com/django-nonrel/djangotoolbox

